
.app-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 3.5rem;

    padding: .8rem 1rem;
    background-color: --var(clr4);

    & p {
        margin: 0;
    }
    
    > span {
        font-size: .8em;
        
        &.local-services {
            color: --var(clr1);
        }
        
        &.remote-services {
            color: --var(clr5);
        }
    }
}

.player {

  align-self: end;
  height: 4.5rem;
  display: grid;
  grid-template-columns: 10rem auto 10rem;
  
  /* background-color: rgb(109, 39, 39); */
}