.app-header {
    display: flex;
    background-color: transparent;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / 6;
    padding: 8px 6px 8px 28px;
    gap: 12px;

    .search-container {
        flex: 1;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .search-bar {
        position: relative;
        width: 100%;
        max-width: 475px;
    }

    .magnifying-glass,
    .xmark {
        fill: var(--header3);
        position: absolute;
        height: 24px;
        width: 24px;
        top: 50%;
        translate: -50% -50%;
        font-size: 22px;
    }

    #header-search {
        height: 100%;
        width: 100%;
        max-width: 475px;
        background-color: var(--header1);
        border-radius: 30px;
        border: 0;
        outline: 0;
        overflow: hidden;

        padding: 0 48px;
        font-size: 15px;
        font-weight: 500;
        color: white;

        box-shadow: inset 0 0 0 0 transparent;
        transition: box-shadow 0.3s;


        &:hover {
            box-shadow: inset 0 0 0 1px rgb(80, 80, 80);
        }

        &:focus {
            box-shadow: inset 0 0 0 2px white;
        }

        &::placeholder {
            font-weight: 500;
            color: rgb(187, 187, 187);
        }
    }

    &:has(#header-search:hover) .magnifying-glass,
    &:has(#header-search:focus) .magnifying-glass {
        fill: white;
    }


    /* ICONS */


    .magnifying-glass {
        left: 25px;
    }

    .xmark {
        right: 2px;
        cursor: pointer;

        &:hover {
            fill: white;
        }
    }

    .home-btn {
        margin: 0;
        padding: 12px;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background-color: var(--header1);
        align-items: center;

        .home-icon {
            fill: var(--header3);
        }

        &:hover {
            .home-icon {
                fill: white;

            }
        }
        .active{
            fill:white;
        }
    }

    .spotify-logo {
        fill: white;
    }
}