.app-header {
    display: flex;
    background-color: transparent;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / -1;
    padding: 8px 6px 8px 28px;
    gap: 12px;

    .search-container {
        flex: 1;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .search-bar {
        position: relative;
        width: 100%;
        max-width: 475px;
    }

    #header-search {
        height: 100%;
        width: 100%;
        max-width: 475px;
        background-color: var(--header1);
        border-radius: 30px;
        border: 0;
        outline: 0;
        overflow: hidden;

        padding: 0 48px;
        font-size: 15px;
        font-weight: 500;
        color: white;

        box-shadow: inset 0 0 0 0 transparent;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: inset 0 0 0 1px rgb(80, 80, 80);
        }

        &:focus {
            box-shadow: inset 0 0 0 2px white;
        }

        &::placeholder {
            font-weight: 500;
            color: rgb(187, 187, 187);
        }
    }

    &:has(#header-search:hover) .magnifying-glass-svg,
    &:has(#header-search:focus) .magnifying-glass-svg {
        fill: white;
    }

    /* ICONS */

    .search-genre-svg,
    .magnifying-glass-svg,
    .xmark-svg {
        fill: var(--header3);
        height: 24px;
        width: 24px;
    }

    .magnifying-glass-btn {
        position: absolute;
        top: 55%;
        translate: -50% -50%;
        left: 25px;
    }

    .search-genre-btn,
    .xmark-btn {
        position: absolute;
        display: flex;
        align-items: center;
        top: 50%;
        translate: 0 -50%;
        cursor: pointer;
        padding: 0 12px;
    }

    .search-genre-btn {
        right: 2px;
        border-left: 1px solid var(--header3);

        &:hover {
            >* {
                fill: white;
            }
        }
    }

    .xmark-btn {
        right: 50px;

        &:hover {
            >* {
                fill: white;
            }
        }
    }

    .home-btn {
        margin: 0;
        padding: 12px;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background-color: var(--header1);
        align-items: center;

        .home-icon {
            fill: var(--header3);
        }

        &:hover {
            .home-icon {
                fill: white;
            }
        }

        .active {
            fill: white;
        }
    }

    .spotify-logo {
        cursor: pointer;
        fill: white;
    }
}

.login-btn {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border-radius: 150px;
    height: 100%;
    width: 100px;
     &:hover {
        background-color: #fff;
        transition: transform 0.1s;
        /* background-color: #1f1f1f; */
        transform: scale(1.04);
    }

    &:active {
        transform: scale(1);
        opacity: 0.85;
    }
}

.logged-in-user-btn {
    height: 100%;
    aspect-ratio: 1;
    background-color: #1f1f1f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: transform 0.1s;

    &:hover {
        transition: transform 0.1s;
        background-color: #1f1f1f;
        transform: scale(1.05);
    }

    &:active {
        transform: scale(1);
        opacity: 0.85;
    }
}

/* Spotify green */
.logged-in-user-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #1db954;
    color: #1f1f1f;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 14px;
}