.app-header {
    display: flex;
    background-color: transparent;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    padding: 8px;

    >* {
        height: 100%;
    }

    button {
        aspect-ratio: 1;
        background-color: var(--clr3);
    }

    .logo {
        background-color: transparent;
    }

}