.app-header {
    display: flex;
    background-color: transparent;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / 6;
    padding: 0 6px 0 24px;
    gap: 12px;

    >* {
        height: 48px;
    }

    .search-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        min-width: 160px;

        .search-bar {
            position: relative;

            .magnifying-glass,
            .xmark {
                fill: rgb(233, 233, 233);
                position: absolute;
                height: 24px;
                width: 24px;
                top: 50%;
                translate: -50% -50%;
                font-size: 22px;
                cursor: pointer;
            }
        }
        .magnifying-glass{
            left: 25px;
        }

        .xmark {
            right: 2px;
        }
    }

    .home-btn {
        margin: 0;
        padding: 12px;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background-color: var(--clr3);
        align-items: center;
        >* {
            translate: -0.5px 0;
            height: 24px;
            width: 24px;
            fill: white;
        }
    }

    #header-search {
        height: 100%;
        /* width: 100%; */
        /* max-width: 475px; */
        width: 475px;
        padding: 0 48px;
        border-radius: 30px;
        background-color: var(--clr3);
        outline: 0 solid;
        font-size: 15px;
        font-weight: 500;
        transition: outline 0.05s 0.05s, filter 0.3s;
        color: white;
        border: 0;
        &:hover{ 
            outline: 0.5px solid rgb(102, 102, 102);
            
        }
        &:focus {
            outline: 2px solid white;
        }

        &::placeholder{
            font-weight: 500;
            color: rgb(187, 187, 187);
        }
    }

    .fa-spotify {
        font-size: 32px;
        display: flex;
        align-items: center;
        cursor: pointer;
        width: max-content;
        height: max-content;
    }
}

/*
    display: flex;
    min-height: 3.5rem;

    background-color: var(--clr4);
    padding: .8rem 1rem;
    
    & nav {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 1em;
        
        font-size: .8em;

        .active {
            color: var(--clr1);
        }

        .logo {
            font-size: 1.4em;
            font-weight: bold;
            margin-inline-end: 2em;
        }

        .login-link {
            margin-inline-start: auto;
        }

        & button {
            margin-inline-end: 0;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: var(--clr1);

        .score {
            padding: 8px;
            background-color: var(--clr2);
            border-radius: 50%;
            margin: 10px;

            color: var(--gray1);
        }

        & img {
            width: 2em;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }
} */