.context-menu {
    position: fixed;
    inset: 0;
    z-index: 1000;

    ul {
        display: flex;
        flex-direction: column;
        width: 278px;
        padding: 0.25rem;
        background-color: #282828;
        margin: 0;
        border-radius: 0.25rem;
    }
}

.context-menu-backdrop {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.context-menu-content {
    position: fixed;
    z-index: 1;
}

.menu-icon {
    width: 16px;
    height: 16px;
    fill: #b3b3b3;
}

.menu-icon-green {
    fill: #1ed760;
}

.context-menu-option {
    display: flex;
    gap: 12px;
    height: 40px;
    text-align: start;
    color: #e9e9e9;
    opacity: 0.92;
    font-weight: 600;
    font-size: 0.8rem;
    width: 100%;
    background-color: #282828;
    padding: 0.5rem 0.5rem 0.5rem 0.75rem;
    border-radius: 0.125rem;
    align-items: center;
    &:hover {
        cursor: pointer;
        background-color: #626262;
    }
}