.edit-modal {
    display: flex;
    position: relative;
    z-index: 2;
    flex-direction: column;
    width: 32.75em;
    height: 23.75em;
    background-color: #282828;
    border-radius: 8px;

}

.edit-modal-header {
    display: flex;
    justify-content: space-between;
    padding: 1.1875rem 1rem 1.5rem 1.5rem;
    h2 {
        display: inline-block;
        margin: 0;
        font-size: 1.325rem;
        font-weight: 750;
        align-self: end;
    }

    .edit-modal-close-btn {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: transparent;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1)
        }

        svg {
            fill: rgba(255, 255, 255, 0.7);
            align-self: end;
        }
    }
}

.edit-modal-image-container{
    max-height: 11.25em;
    max-width: 11.25em;
}

.edit-modal-img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 5px;
}

.edit-modal-body {
    display: flex;
    padding-inline: 24px;
}

.edit-modal-fields {
    display: flex;
    flex-direction: column;
    width: 17.5rem;
    height: 2.5rem;
    margin-left: 1rem;
    gap: 1rem;

    input,
    textarea {
        outline: none;
        border: solid 1px rgba(255, 255, 255, 0);
        padding-inline: 12px;
        width: 100%;
        background-color: #3e3e3e;
        border-radius: 4px;
        color: #fff;
        font-size: 0.825rem;
        font-weight: 500;
        &:focus {
            border: solid 1px rgba(255, 255, 255, 0.25);
            span:has(~ &){
                opacity: 1;
            }
        }
    }
    
    textarea {
        height: 7.75rem;
        resize: none;
        padding: 8px 8px 28px;
    }

    input {
        height: 40px;
    }

    .edit-modal-fields-label {
        color: #b3b3b3;
        inset-inline-start: 10px;
        opacity: 0;
        position: absolute;
        top: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s;
        transition: opacity .2s;
        font-size: 0.7rem;
        font-weight: 700;
    }

    .edit-modal-name-field,
    .edit-modal-desc-field {
        position: relative;
    }
}

.edit-modal-fields-label::before {
    content: '';
    position: absolute;
    left: -2px;
    right: -1px;
    top: 50%;
    height: 2px;
    background: #3e3e3e;
    transform: translateY(-50%);
    z-index: -1;
}

.edit-modal-footer {
    display: flex;
    place-content: end;
    margin-inline: 18px;
}

.edit-modal-save-btn {
    width: 100px;
    height: 48px;
    padding: 8px 32px;
    color: black;
    font-weight: 675;
    border-radius: 9999px;
    font-size: 0.95rem;
    margin-right: 6px;
    margin-top: 8px;

    &:hover {
        background-color: white;
    }
}

.edit-modal-container {
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.edit-modal-backdrop {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.edit-modal-close-icon{
    margin-top: 4px;
}