.search-page {
    background: var(--clr2);
    padding: 0 24px;
    /* min-width: 200px; */
}

.search-type {
    display: flex;
    height: 64px;
    padding: 16px 0;
    gap: 8px;

    >* {
        border-radius: 50px;
        padding: 4px 12px;
        font-weight: 600;
        background-color: var(--header1);

        &:hover {
            background-color: var(--header2);
        }
    }

    .type-active {
        background-color: #fff;
        color: var(--header1);
    }
}

.search-track {
    display: flex;
    justify-content: space-between;

    .search-name-img {
        display: flex;
    }
}

.search-genres {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    background-color: var(--clr2);
    border-radius: 8px;
    padding: 8px;
    padding-top: 32px;

    .search-genres-header{
        grid-column: 1 / -1 ;
        h1{
            margin: 20px 12px 12px;
            font-size: 24px;
        }
    }

    >*:not(.search-genres-header) {
        margin: 12px;
        border-radius: 8px;
        position: relative;
        aspect-ratio: 2 / 1.2;
        overflow: hidden;
        cursor: pointer;

        h2{
            z-index: 1;
            position: absolute;
            padding: 16px 16px 0;
        }
        
        img {
            height: 85%;
            position: absolute;
            right: -5%;
            bottom: -20px;
            transform:rotateZ(25deg);
        }
    }
}
