.search-page {
    background: var(--clr2);
    padding: 0 24px;
    /* min-width: 200px; */
}

.search-type {
    display: flex;
    height: 64px;
    padding: 16px 0;
    gap: 8px;

    >* {
        border-radius: 50px;
        padding: 4px 12px;
        font-weight: 600;
        background-color: var(--header1);

        &:hover {
            background-color: var(--header2);
        }
    }

    .type-active {
        background-color: #fff;
        color: var(--header1);
    }
}

.search-track{
    display: flex;
    justify-content: space-between;
    
    .search-name-img{
        display: flex;
    }
}