.sidebar-container {
    background-color: #121212;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    height: 100%;
    padding-inline: 4px;
    overflow-y: auto;
}

.sidebar-container::-webkit-scrollbar,.sidebar-scroll::-webkit-scrollbar {
  display: none;
}

.route-scroll::-webkit-scrollbar{
    display: none;
}

.sidebar-container,.sidebar-scroll{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.sidebar-actions {
    display: flex;
    flex-direction: column;
}

.sidebar-header-opened{
    display: none;
}


.sidebar-header-closed{
    display: flex;
    flex-direction: column;
    width: 64px;
    height: 107px;
    padding: 16px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    gap: 8px;
    align-items: center;
    .sidebar-open-button{
        background: transparent;
        height: 40px;
        width: 40px;
        margin-top: 2px;
        fill: #b3b3b3;
    }
    .sidebar-create-station{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        padding-top: 4px;
        background-color: #1f1f1f;
    }
}

.sidebar-header-buttons-container {
    max-width: 8.90625rem;
    display: flex;
    margin: 0;
    gap: 0.5rem;
    justify-content: center;

    .sidebar-expand {
        padding: 0;
        min-block-size: 2.25rem;
        min-inline-size: 2.1875rem;
        background-color: transparent;
        border-radius: 50%;

        &:hover {
            background-color: #1f1f1f;
        }
    }

    .sidebar-create-station {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        background-color: #1f1f1f;
        border-radius: 1.25rem;
        font-weight: 750;
        font-size: 0.8rem;

        &:hover {
            background-color: #363636;
        }
    }
}

.sidebar-search-container{
    display: flex;
    width: 100%;
    height: 32px;
    padding: 2px 24px 0px 8px;
    margin-bottom: 10px;
    margin-left: 4px;
    margin-top: 2px;
    justify-content: space-between;
}

.sidebar-actions-container{
    display: none;
}

.icon-small {
    fill: #b3b3b3;
    width: 1rem;
    height: 1rem;
}

.sidebar-expand-icon {
    margin-top: 0.125rem;
}

.sidebar-sort-btn{
    display: flex;
    background: none;
    color: #b3b3b3;
    font-weight: 550;
    font-size: 0.8rem;
    gap: 8px;
    align-items: center;
    padding: 0;
}

.sidebar-sort-btn-icon{
    fill: #b0b0b0;
}

.sidebar-search-btn{
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 50%;
    background-color: transparent;
    svg{
        fill: #b0b0b0;
    }
}

.sidebar-filter-container{
    display: none;
}

.sidebar-filter {
    height: 2rem;
    background-color: #2a2a2a;
    border-radius: 1rem;
    font-weight: 650;
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
    font-size: 0.775rem;

    &:hover {
        background-color: #363636;
    }
}

.sidebar-station-preview-container{
    display: flex;
    gap: 0.25rem;
    border-radius: 5px;
    &:hover{
        background-color: #1f1f1f;
    }
}

.favorites-station-list{
    margin: 0;
}

.sidebar-preview-station{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 340px;
    gap: 4px;  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.sidebar-preview-station-title{
    font-size: 0.925rem;
    max-width: 80%;
    font-weight: 500;
}

.sidebar-preview-station-info{
    font-size: 0.8rem;
    color: #b2b2b2;
    max-width: 80%;
    font-weight: 600;
}

a.sidebar-station-preview-link{
    text-decoration: none;
}