* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'montserrat', system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    color: white;
    background-color: black;
}

button,
input,
select,
textarea {
    font-family: 'montserrat', system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}

img,
embed,
video,
object {
    max-width: 100%;
    display: block;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #555 #121212;
}
