
button {
	/* padding: .5em .8em; */
	/* background-color: var(--clr1); */
	/* margin: .5em; ruins my buttons sorry :( */ 
	border: 0;
	cursor: pointer;
	color: whitesmoke;
}

button:hover {
	transition: 0.3s;
	/* background-color: var(--clr1-light) */
}
