
/* Flex helpers */
.flex {
    display: flex;

    >.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }
}

/* Simple and useful CSS Debugging Technique */
.debug * {
    outline: 1px solid gold
}

.small-img{
    width: 48px;
    height: 48px;
}

.small-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
}