.main-container {
    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: 4.5rem 1fr; /* mobile */
    column-gap: 0.5rem;
    grid-template-rows: 64px minmax(0, 1fr) 88px;
    @media (min-width: 1048px) {
        grid-template-columns: 26.75rem 1fr;
    }
}

.main-container > .app-header {
    grid-column: 1 / -1;
    grid-row: 1;
}

.main-container > .sidebar-container {
    grid-column: 1;
    grid-row: 2;
    overflow-y: auto;
    min-height: 100%;
}

.main-content {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    overflow: hidden;
    min-height: 0;
    border-radius: 8px;
}

.content-area {
    grid-column: 1;
    grid-row: 2;
    min-height: 0;
    overflow-y: auto;
    
}

.route-scroll {
    flex: 1;
    overflow: auto;
    min-height: 0;
    
}

.app-footer {
    grid-column: 1/-1;
    grid-row: 3;
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;

    > article {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 2rem;
        text-align: center;
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 3;
    }
}
