.app-footer {
    bottom: 0;
    width: 100%;
    gap: 10px;
    z-index: 1;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(max-content, 1fr) 1.2fr minmax(max-content, 1fr);
    background-color: black;
    padding: 8px;
}


.footer-track-preview {
    display: flex;
    gap: 14px;
    padding-left: 8px;

    .footer-add-btn {
        margin: 0 8px;
    }

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        >h5 {
            font-weight: 500;
            margin-bottom: 02px;
            font-size: small;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        >h6 {
            margin-bottom: 0;
            font-weight: 600;
            color: rgb(165, 165, 165);
            cursor: pointer;

            &:hover {
                color: white;
                text-decoration: underline;
            }
        }

        .footer-plus {
            width: 16px;
            height: 16px;
            fill: rgb(179, 179, 179);
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                fill: white;
                transform: scale(1.08);
            }
        }
    }
}

.time-display {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
    color: #b3b3b3;

    span {
        line-height: 13px;
        height: max-content;
        text-align: start;
        font-variant-numeric: tabular-nums;
    }
}

.volume-input-container {
    display: flex;
    align-self: center;
}


.track-duration-footer {
    flex: 1;
    margin: 0;
}

.VolumeControl {
    display: flex;
    justify-content: end;

    button {
        padding: 8px;
        background-color: transparent;
        fill: var(--header3);

        &:hover svg {
            fill: white;
            transform: scale(1.05);
        }

        svg {
            width: 16px;
            height: 16px;

        }
    }
}

.player-controls {
    .controls {
        display: flex;
        gap: 8px;
        justify-content: center;
        margin-bottom: 6px;



        button:not(.control-play-btn) {
            background-color: transparent;
            padding: 8px;

            &:hover svg {
                fill: white;
                transform: scale(1.05);
            }

            svg {
                fill: #f5f5f5;
                /* fill: var(--header3); */
                width: 16px;
                height: 16px;
            }
        }

        .control-play-btn {
            padding: 8px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin: 0 10px;
            background-color: #fff;

            &:hover {
                transform: scale(1.05);
            }

            svg {
                fill: black;
                width: 16px;
                height: 16px;
            }
        }


        button:disabled {
            cursor: not-allowed;

            svg {
                fill: var(--header3);
            }

            &:hover svg {
                fill: var(--header3);
                transform: scale(1);
            }
        }
    }
}



/* -------------- */
iframe {
    display: none;
}

.volume-input{
    max-width: 93px;
}

.track-duration-footer,
.volume-input {
    --fill: 0%;
    -webkit-appearance: none;
    height: 4px;
    border-radius: 10px;
    cursor: pointer;
    background:
        linear-gradient(#ffffff) 0/var(--fill) 100% no-repeat,
        #444;
}

.track-duration-footer::-webkit-slider-runnable-track,
.volume-input::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 10px;
}

.track-duration-footer:hover,
.volume-input:hover {
    background: linear-gradient(#1db954, #1db954) 0/var(--fill) 100% no-repeat, #444;
}

.track-duration-footer::-webkit-slider-thumb,
.volume-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #fff;
    margin-top: -5px;
}

.track-duration-footer:hover::-webkit-slider-thumb,
.volume-input:hover::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
}

/*  */
.track-duration-footer::-moz-range-track,
.volume-input::-moz-range-track {
    height: 4px;
    background: #444;
    border-radius: 10px;
}

.track-duration-footer::-moz-range-progress,
.volume-input::-moz-range-progress {
    height: 4px;
    background: #ffffff;
    border-radius: 10px;
}

.track-duration-footer:hover::-moz-range-progress,
.volume-input:hover::-moz-range-progress {
    background: #1db954;
}

.track-duration-footer::-moz-range-thumb,
.volume-input::-moz-range-thumb {
    border-radius: 50%;
    background: white;
    border: none;
    opacity: 0;
}

.track-duration-footer:hover::-moz-range-thumb,
.volume-input:hover::-moz-range-thumb {
    opacity: 1;
    width: 14px;
    height: 14px;
}