.app-footer {
    bottom: 0;
    width: 100%;
    gap: 10px;
    z-index: 1;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(max-content, 1fr) 1.2fr minmax(max-content, 1fr);
    background-color: black;
    padding: 8px;
}


.footer-track-preview {
    display: flex;
    gap: 14px;
    padding-left: 8px;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        >h5 {
            font-weight: 500;
            margin-bottom: 02px;
            font-size: small;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        >h6 {
            margin-bottom: 0;
            font-weight: 600;
            color: rgb(165, 165, 165);
            cursor: pointer;

            &:hover {
                color: white;
                text-decoration: underline;
            }
        }

        .footer-plus {
            width: 16px;
            height: 16px;
            fill: rgb(179, 179, 179);
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                fill: white;
                transform: scale(1.05);
            }
        }
    }
}

.time-display {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: small;
    color: #b3b3b3;

    span{
        line-height:13px;
        height: max-content;
        text-align:start;
    }
}

.track-duration-footer {
    flex: 1;
    margin: 0;
    height: 4px;
    background-color: #4d4d4d;

    &:hover .duration-bar {
        background-color: rgb(30, 215, 96);
    }
}

.VolumeControl {
    display: flex;
    justify-content: end;

    button {
        &:hover svg {
            fill: white;
            transform: scale(1.05);
        }

        padding: 8px;
        background-color: transparent;
        fill: var(--header3);

        svg {
            width: 16px;
            height: 16px;

        }
    }
}

.controls {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 6px;

    button:not(.control-play-btn) {
        background-color: transparent;
        padding: 8px;

        &:hover svg {
            fill: white;
            transform: scale(1.05);
        }

        svg {
            fill: var(--header3);
            width: 16px;
            height: 16px;
        }
    }

    .control-play-btn {
        padding: 8px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0 10px;
        background-color: #fff;

        &:hover {
            transform: scale(1.05);
        }

        svg {
            fill: black;
            width: 16px;
            height: 16px;
        }
    }
}

iframe{
    display: none;
}