.SearchInDetails {
    min-height: 400px;
    position: relative;
    background-color: var(--clr2);
    margin: 0 19px;
    padding: 24px 16px 40px;
    border-top: 1px solid rgb(128, 128, 128, 0.5);

    .details-find-more {
        position: absolute;
        right: 0;
        height: 20px;
        width: max-content;
        padding: 0;
        margin: 10px 35px 0 0;
        
        font-weight: 600;
        background-color: transparent;
        color: white;
    }
}

.search-details-header {
    padding-bottom: 24px;
    /* margin: 0 35px; */
    display: flex;
    justify-content: space-between;
    
    h3 {
        font-size: 24px;
    }
    
    >div{
        width: 100%;
        max-width: 400px;
    }
    
    .search-details-xmark-btn {
        width: 24px;
        height: 24px;
        padding: 0;
        background-color: transparent;
        align-self: center;

        .search-details-xmark-svg {
            width: 24px;
            height: 24px;
            fill: var(--header3);

            &:hover {
                fill: white;
                transform: scale(1.05);
            }
        }
    }
}

.search-input-container {
    position: relative;
    input {
        width: 100%;
        height: 40px;
        border: 0;
        border-radius: 4px;
        padding: 8px 32px;
        background-color: var(--header2);
        color: white;
        font-weight: 700;
        color: #b3b3b3;

        &::placeholder {
            color: #b3b3b3;
        }

        &:focus {
            outline: 0;
        }
    }

    .search-details-xmark-input,
    .details-search-svg {
        fill: var(--header3);
        width: 16px;
        position: absolute;
        top: 50%;
        translate: -50% -50%;
    }

    .search-details-xmark-input{
        right: 3px;
        cursor: pointer;
        &:hover{
            fill: white;
        }
    }

    .details-search-svg{
        left: 17px;
    }
}

@media (max-width:500px) {
    .search-details-header {
        h3 {
            font-size: 16px;
        }
    }
}