/* Whole Station */
.station-details {
    min-height: 100%;
}

/* Header Area */
.station-header {
    max-height: 256px;
    display: flex;
    gap: 16px;
    padding: 50px 19px 19px 19px;
    /* align-items:end; */
    /* min-height: 185px; */
}

/* Img container */
.cover-container {
    width: max-content;
    height: max-content;
}

.cover-container img {
    height: 70%;
    max-width: 175px;
    min-width: 128px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 60px 0px;
}

/* Text container */
.station-header-title {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 8px;
}

/* Type of station (Album / Public Playlist) */
.header-type {
    font-size: clamp(0.7rem, 1vw, 0.9rem);
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.90;
    margin-bottom: 3px;
}

/* Station Name */
.station-header-title h1 {
    font-size: clamp(24px,  2cqw, 52px);
    font-weight: 800;
    max-height: 120px;
    margin: 0;
    line-height: 1.1;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

/* Bottom row with info */
.station-header-info {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: clamp(0.85rem, 1.2vw, 1rem);
    opacity: 0.9;
}

/* Artist/User name emphasis */
.station-header-info .enhance {
    font-weight: 600;
}

/* Rest of bottom row */
.station-header-info> :not(.enhance) {
    color: #b3b3b3;
}

/* small circular img */
.artist-img {
    width: clamp(20px, 2vw, 28px);
    height: clamp(20px, 2vw, 28px);
    border-radius: 50%;
    object-fit: cover;
}