
.station-details {
    border-radius: 20px;
}
.station-header {
    display: flex;
    flex-direction: row;
    /* margin: 1em 2em; */
    padding: 3em 3em 1em 1em;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);

    img{
        max-width: 30%;
        border-radius: 10px;
    }
}

.station-header-title {
    align-self: end;
    margin: 0 1em;
}