.station-details {
    border-radius: 20px;
}
.station-header {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 3em 3em 1em 1em;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);

    img {
        max-width: 30%;
        border-radius: 10px;
    }
}

.station-header-title {
    align-self: end;
    margin: 0 1em;
}

.btn-container {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.list-btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn-container button {
    background-color: transparent;
    color: #b3b3b3;
}

.icon-control {
    width: 2em;
    color: #b3b3b3;
}

.control-btn:hover .icon-control {
    color: #fff;
    transition: transform 0.2s ease, color 0.2s ease;
}

.control-btn:hover .icon-control:not(.list-btn) {
}

.play-icon {
    width: 3em;
    color: #1ed760;
}

.track-list-container {
    padding: 1em;
}
