/* Whole Station */
.station-details {
    min-height: 100%;
    background-color: var(--clr2);
    position: relative;
    z-index: 1;
}

/* Header Area */
.station-header {
    align-items: end;
    --color-stop-1: color-mix(in srgb, var(--avgColor) 70%, #121212);
    --color-stop-2: color-mix(in srgb, var(--avgColor) 60%, #121212);

    position: relative;
    background: linear-gradient(
        to bottom,
        var(--avgColor) 0%,
        var(--avgColor) 40%,
        var(--color-stop-1) 100%
    );
    display: grid;
    grid-template-columns: minmax(190px, auto) 1fr;
    gap: 16px;
    padding: 50px 19px 19px 19px;
    z-index: 0;
}

.details-track-image{
    border-radius: 8px;
    min-width: 110px;
    width: 100%;
    max-width: 235px;
}

.station-header::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 175px;

    background: linear-gradient(
        to bottom,
        var(--color-stop-2) 0%,
        #121212 100%
    );

    pointer-events: none;
    z-index: -1;
}

/* Type of station (Album / Public Playlist) */
.header-type {
    font-size: clamp(0.7rem, 1vw, 0.9rem);
    font-weight: 600;
    opacity: 0.9;
    margin-bottom: 3px;
}

.station-owner-header:hover {
    cursor: pointer;
}

/* Station Name */
.station-header-title h1 {
    font-size: clamp(24px, 2cqw, 52px);
    font-weight: 800;
    max-height: 120px;
    margin: 0;
    line-height: 1.1;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

/* Bottom row with info */
.station-header-info {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: clamp(0.85rem, 1.2vw, 1rem);
    opacity: 0.9;
}

/* Artist/User name emphasis */
.station-header-info .enhance {
    font-weight: 600;
}

/* Rest of bottom row */
.station-header-info > :not(.enhance) {
    color: #b3b3b3;
}

/* small circular img */
.artist-img {
    width: clamp(20px, 2vw, 28px);
    height: clamp(20px, 2vw, 28px);
    border-radius: 50%;
    object-fit: cover;
}
