.track-container {
    margin-top: .5em;
}

.track,
.track-list-title {
    display: grid;
    grid-template-columns: 40px 1fr 60px;
    align-items: center;
    gap: 1rem;
    color: #b3b3b3;
    padding: 0.3em;
}

.track {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.track:hover {
    color: white;
}

.track::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.25s ease;
    pointer-events: none;
}

.track:hover::after {
    opacity: 1;
}

.track > div,
.track-list-title > div {
    text-align: center;
}

.track > .center,
.track-list-title > .center {
    text-align: start;
}

.track-artist {
    font-size: 0.875em;
}

.track-name {
    color: white;
}

.track-list-title {
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.duration-icon {
    width: 1em;
}

.track-num {
    position: relative;
    width: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.track-num-text {
    transition: opacity 0.2s ease;
}

.track-num-icon {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
    width: 1em;
    height: 1em;
    color: white;
}

.track:hover .track-num-text {
    opacity: 0;
}

.track:hover .track-num-icon {
    opacity: 1;
}
