.track-container {
    margin-top: 0.5em;
    position: relative;
    z-index: 1;
}

.track-list-container {
    font-weight: 400;
    position: relative;
    z-index: 1;
}

.track,
.track-list-title {
    display: grid;
    align-items: center;
    gap: 1rem;
    color: #b3b3b3;
    padding: 0 16px;
    margin: 0 19px;
    font-size: 14px;
    grid-template-columns: 1.5em 3fr 2fr 110px;
}

.album-view {
    .track-album-name,
    .list-album-title {
        display: none;
    }

    .title-track-duration {
        padding-left: 40px;
    }
    .track,
    .track-list-title {
        grid-template-columns: 1.5em 1fr 150px;
    }
}

@media (max-width: 700px) {
    .track-album-name,
    .list-album-title {
        display: none;
    }

    .track,
    .track-list-title {
        grid-template-columns: 1.5em 3.5fr 110px;
    }

    .album-view {
        .track,
        .track-list-title {
            grid-template-columns: 1.5em 1fr 150px;
        }
    }
}

.track {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    height: 54px;
}

.track-details {
    display: flex;
    min-width: 40px;

    > div {
        overflow: hidden;
    }
}

.track-list-img {
    height: 40px;
    width: 40px;
    margin-right: 12px;
    border-radius: 4px;
}

.details-add-btn {
    height: 32px;
    width: 61px;
    border-radius: 300px;
    background-color: var(--clr2);
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.4);
    justify-self: right;
    will-change: transform;

    &:hover {
        transform: scale(1.04);
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255);
    }
}

.left {
    text-align: center;
}

.track:hover {
    color: white;
}

.track::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.25s ease;
    pointer-events: none;
}

.track:hover::after {
    opacity: 1;
}

.track > .center,
.track-list-title > .center {
    text-align: start;
}

.track-name {
    color: white;
    font-size: 16px;
    font-weight: 600;

    &.playing {
        color: #1db954; /* Spotify green */
        font-weight: 600;
    }
}

.track-album-name,
.track-name,
.track-artist {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.track-list-title {
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.title-track-duration {
    text-align: center;
    padding-left: 3px;
}

.duration-icon {
    width: 1em;
}

.track-num {
    position: relative;
    width: 16px;
    height: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.track-num-text {
    opacity: 1;
    font-size: 16px;
    transition: opacity 0.2s ease;
}

.track-num-icon {
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease;
    color: white;
    width: 16px;
    height: 16px;
}

.control-btn.liked-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.track:hover .track-num-text {
    opacity: 0;
}

.track:hover .track-num-icon {
    opacity: 1;
}

.track-actions {
    display: grid;
    justify-self: right;
    grid-template-columns: repeat(3, max-content);
    color: #b3b3b3;
}

.track-actions button {
    background-color: transparent;
}

.track-duration {
    width: 40px;
    text-align: right;
}

.track-actions .icon-control {
    height: 20px;
    width: 20px;
    opacity: 0.7;
    transition: opacity 0.15s ease, color 0.15s ease;
}

.track:hover .track-actions .icon-control {
    opacity: 1;
    color: white;
}

.track-duration-list {
    margin: 0 8px;
    font-size: 0.85em;
    align-content: center;
}

.control-button {
    display: flex;
    align-items: center;
}
