.track-container {
    margin-top: 0.5em;
}

.track-list-container {
    padding: 16px;
    font-weight: 550;
}

.track,
.track-list-title {
    display: grid;
    grid-template-columns: 1em 1fr 0.3fr;
    align-items: center;
    gap: 1rem;
    color: #b3b3b3;
    padding: 0.3em;
    padding-inline: 1em;
}

.track {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    height: 3.5em;
}

.track-details {
    display: flex;
    min-width: 40px;

    >div {
        overflow: hidden;
    }
}

.track-list-img {
    height: 40px;
    width: 40px;
    margin-right: 12px;
    border-radius: 4px;
}

.details-add-btn {
    height: 32px;
    width: 61px;
    border-radius: 300px;
    background-color: var(--clr2);
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.40);
    font-weight: 500;
    justify-self: right;
    margin-right: 16px;

    will-change: transform;

    &:hover {
        transform: scale(1.04);
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255);
    }
}

.left,
.right {
    text-align: center;
}

.track:hover {
    color: white;
}

.track::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.25s ease;
    pointer-events: none;
}

.track:hover::after {
    opacity: 1;
}

.track>.center,
.track-list-title>.center {
    text-align: start;
}

.track-artist {
    font-size: 0.875em;
}

.track-name {
    color: white;
}

.track-name,
.track-artist {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.track-list-title {
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.duration-icon {
    width: 1em;
}

.track-num {
    position: relative;
    width: 1em;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.track-num-text {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.track-num-icon {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
    width: 1em;
    height: 1em;
    color: white;
}

.track:hover .track-num-text {
    opacity: 0;
}

.track:hover .track-num-icon {
    opacity: 1;
}

.track-actions {
    display: flex;
    align-items: center;
    justify-content: end;
    color: #b3b3b3;
}

.track-actions button {
    background-color: transparent;
}

.track-duration {
    width: 40px;
    text-align: right;
}

.track-actions .icon-control {
    opacity: 0.7;
    transition: opacity 0.15s ease, color 0.15s ease;
}

.track:hover .track-actions .icon-control {
    opacity: 1;
    color: white;
}

.track-duration-list {
    margin-right: 0.75em;
    width: 2.88em;
    font-size: 0.85em;
    font-weight: 450;
    align-content: center;
}

.control-button {
    display: flex;
    align-items: center;
}